* {
    margin: 0;
    padding: 0;
}

*, *:after, *:before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    color: #333333;
    overflow-x: hidden;
    background-color: #f0ffff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: inherit;
}

b, strong {
    font-weight: bold;
}

a {
    color: #333333;
    text-decoration: none;
    border-bottom: 1px solid #333333;
}

a:hover {
    border-bottom: 0;
}

p {
    margin-bottom: 8px;
}

.main {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    background-color: #fff;
    padding: 16px;
}

pre {
    text-align: center;
}

code {
    display: inline-block;
    text-align: left;
    padding: 1em;
}

.main section {
    margin-bottom: 20rem;
}

.is-inview {
    background-color: black;
    color: #ffffff;
}

.nav {
    position: fixed;
    left: 0;
    padding: 16px;
    background-color: #fff;
}

.nav ul {
    list-style: none;
}

.nav ul  a {
    display: inline-block;
    text-decoration: none;
}
.ad-DemoButton {
    display: none;
}

.subtitle {
    margin-bottom: 1.2rem;
}

.ad-explanation {
    margin-top: 2rem;
}


@media screen and (max-width: 1024px) {
    .nav {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        left: inherit;
        text-align: center;
    }

    .ad-DemoButton {
        background-color: #E84C3D;
        color: #ffffff;
        border: none;
        position: absolute;
        border-radius: 0 0 6px 6px;
        outline: 0;
        padding: 3px 6px;
        cursor: pointer;
        z-index: 2;
        display: block;
    }

    #ad-Demo {
        background-color: #E84C3D;
        color: white;
        font-size: 16px;
        text-align: center;
        overflow: hidden;
        border-radius: 0 0 10px 10px;
    }

    .ad-DemoWrapper a {
        padding: 8px;
        color: #ffffff;
        display: inline-block;
        text-decoration: none;
        font-weight:normal;
    }

    .ad-DemoWrapper a:hover {
        text-shadow: 1px 1px 1px #000000;
    }
}




































@media screen and (max-width: 667px) {

    #ad-Demo {
        column-count: 2;
    }

    .ad-DemoWrapper a {
        padding: 4px;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .ad-DemoWrapper a {
        font-size: 13px;
    }
}
/* DEMO NOVEDADES */


.mt-AdL {
    position: relative;
}

.ad-AdlContainer {
    position: absolute;
    top: 0;
}

.ad-Grid-item {
    display: inline-block;
    width: 100%;
}

@media screen and (min-width: 616px) {
    .ad-Grid {
        column-count: 2;
        display: block;
        position: relative;
        column-gap: 0;
    }
}

@media screen and (min-width: 986px) {
    .ad-Grid {
        column-count: 3;
        display: block;
        position: relative;
        column-gap: 0;
    }

    .ad-Grid-article {
        position: absolute;
        top: 0;
        right: 0;
        width: 33.3333%;
    }

    .ad-Grid-item:nth-child(16) {
        margin-top: 216px;
    }
}
@media screen and (min-width: 986px) {
    .ad-DemoWrapper.mt-AdL {
        padding-right: 0;
    }
}